Repository NevaMind-AI/memU-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-alembic-migrations, check-python-credentials, check-makefile-commands, check-markdown-formatting

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Install: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Ruff - Fast Python linter and formatter
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.13
    hooks:
      # Run the linter
      - id: ruff
        args: [--fix]
      # Run the formatter
      - id: ruff-format

  # Built-in hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
        name: Check YAML syntax
      - id: check-json
        name: Check JSON syntax
      - id: check-toml
        name: Check TOML syntax
      - id: end-of-file-fixer
        name: Fix end of files
      - id: trailing-whitespace
        name: Trim trailing whitespace
      - id: check-added-large-files
        name: Check for large files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
        name: Check for merge conflicts
      - id: detect-private-key
        name: Detect private keys

  # Python-specific checks
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: python-check-blanket-noqa
        name: Check blanket noqa
      - id: python-check-blanket-type-ignore
        name: Check blanket type ignore
      - id: python-no-eval
        name: Check for eval()
      - id: python-use-type-annotations
        name: Check for type annotations

  # Security checks with bandit
  - repo: https://github.com/PyCQA/bandit
    rev: 1.9.3
    hooks:
      - id: bandit
        name: Security check with bandit
        args: ['-c', 'pyproject.toml']
        additional_dependencies: ['bandit[toml]']

  # Additional Python quality checks
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: ['--rcfile=pyproject.toml', '--fail-under=8.0']
        require_serial: true
      - id: check-test-coverage
        name: Check test coverage threshold
        entry: python .pre-commit-hooks/check_test_coverage.py
        language: system
        pass_filenames: false
        args: ['35']  # Minimum 35% coverage (gradually increase as tests are added)
        stages: [pre-push]  # Only run before pushing, not on every commit
      - id: check-alembic-migrations
        name: Check Alembic migrations are not empty
        entry: python .pre-commit-hooks/check_alembic_migrations.py
        language: system
        pass_filenames: false
        files: ^alembic/versions/.*\.py$
      - id: check-config-credentials
        name: Check config files for hardcoded credentials
        entry: python .pre-commit-hooks/check_config_credentials.py
        language: system
        pass_filenames: false
        types_or: [ini, yaml, toml]
      - id: check-python-credentials
        name: Check Python code for hardcoded credentials
        entry: python .pre-commit-hooks/check_python_credentials.py
        language: system
        pass_filenames: false
        types: [python]
      - id: check-makefile-commands
        name: Check Makefile for deprecated commands
        entry: python .pre-commit-hooks/check_makefile_commands.py
        language: system
        pass_filenames: false
        files: ^Makefile$
      - id: check-markdown-formatting
        name: Check Markdown formatting issues
        entry: python .pre-commit-hooks/check_markdown_formatting.py
        language: system
        pass_filenames: false
        types: [markdown]
# Global settings
default_language_version:
  python: python3.13

# Files to exclude
exclude: |
  (?x)^(
      \.venv/|
      venv/|
      \.git/|
      __pycache__/|
      \.pytest_cache/|
      \.ruff_cache/|
      \.mypy_cache/|
      build/|
      dist/|
      .*\.egg-info/
  )

feat: migrate memu-server with comprehensive quality automation
  .env.example
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/improvement_suggestion.yml
  .gitignore
  .pre-commit-config.yaml
  .python-version
  Makefile
  README.md
  alembic.ini
  alembic/env.py
  alembic/script.py.mako
  app/api/__init__.py
  app/api/v1/__init__.py
  app/database.py
  app/main.py
  app/models/__init__.py
  app/services/__init__.py
  app/utils/__init__.py
  app/workers/__init__.py
  config/__init__.py
  docker-compose.yml
  pyproject.toml
  storage/.gitkeep
  tests/__init__.py
  tests/conftest.py
  tests/test_env_validation.py
  tests/test_health.py
  uv.lock
Due: pylint, check-python-credentials, check-makefile-commands, check-markdown-formatting

chore: update gitignore with comprehensive Python rules
  .gitignore
Due: none

chore: add newline at end of .gitignore
  .gitignore
Due: none

chore: initialize project with directory structure and gitignore (#9)
  app/api/__init__.py
  app/api/v1/__init__.py
  app/models/__init__.py
  app/services/__init__.py
  app/utils/__init__.py
  app/workers/__init__.py
  config/__init__.py
  storage/.gitkeep
  tests/__init__.py
Due: pylint, check-python-credentials

feat: add development infrastructure and database migration support
  .env.example
  .gitignore
  .pre-commit-config.yaml
  .python-version
  Makefile
  alembic.ini
  alembic/env.py
  alembic/script.py.mako
  app/database.py
  app/main.py
  docker-compose.yml
  pyproject.toml
  tests/conftest.py
  tests/test_env_validation.py
  tests/test_health.py
  uv.lock
Due: pylint, check-python-credentials, check-makefile-commands

chore: add development tools and configuration
  .env.example
  .pre-commit-config.yaml
  Makefile
Due: check-makefile-commands

chore: add Docker local development environment
  docker-compose.yml
Due: none

feat: add database migration support and connection utilities
  alembic.ini
  alembic/env.py
  alembic/script.py.mako
  app/database.py
  app/main.py
Due: pylint, check-python-credentials

test: add pytest framework and initial test cases
  tests/conftest.py
  tests/test_env_validation.py
  tests/test_health.py
Due: pylint, check-python-credentials

chore: update project configuration and dependencies
  .gitignore
  pyproject.toml
  uv.lock
Due: none

chore: add mypy and pylint configuration to pyproject.toml
  pyproject.toml
Due: none

chore: update uv.lock with latest dependencies
  uv.lock
Due: none

chore: simplify code quality checks
  .gitignore
  .pre-commit-config.yaml
Due: none

chore: update project configuration and dependencies (#14)
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: none

chore: use simplified .pre-commit-config.yaml from main
  .pre-commit-config.yaml
Due: none

chore: simplify Makefile to match available dependencies
  Makefile
Due: check-makefile-commands

chore: remove .env.example, replaced with .env.local
  .env.example
Due: none

fix: resolve Copilot code review suggestions
  .pre-commit-config.yaml
  Makefile
Due: check-makefile-commands

fix: address all GitHub Copilot code review suggestions
  .pre-commit-config.yaml
  Makefile
Due: check-makefile-commands

feat: update Makefile
  Makefile
Due: check-makefile-commands

add obsolete dependencies in pyproject.toml
  Makefile
  pyproject.toml
Due: check-makefile-commands

fix: improve Makefile - remove redundant dev target, fix pytest-cov config, and fix find command
  Makefile
Due: check-makefile-commands

chore: improve project configuration consistency
  .github/workflows/ci.yml
  .gitignore
  pyproject.toml
  uv.lock
Due: none

style: apply pre-commit auto-fixes
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/improvement_suggestion.yml
  app/main.py
Due: pylint, check-python-credentials

fix: address Copilot review feedback - improve configuration consistency
  .github/workflows/ci.yml
  Makefile
  pyproject.toml
Due: check-makefile-commands

fix: specify mypy target directory to fix CI failure
  .github/workflows/ci.yml
  Makefile
  pyproject.toml
Due: check-makefile-commands

fix: configure deptry to ignore planned future dependencies
  pyproject.toml
Due: none

test: add placeholder tests to fix CI test failure
  tests/test_main.py
Due: pylint, check-python-credentials

refactor: downgrade Python version to 3.13 and upgrade dependencies
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/ci.yml
  .python-version
  README.md
  dockerfiles/Dockerfile
  pyproject.toml
  tests/test_main.py
  uv.lock
Due: pylint, check-python-credentials, check-markdown-formatting

chore: add development tools and configuration (#15)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/improvement_suggestion.yml
  .github/workflows/ci.yml
  .gitignore
  .pre-commit-config.yaml
  .python-version
  Makefile
  README.md
  app/main.py
  dockerfiles/Dockerfile
  pyproject.toml
  tests/test_main.py
  uv.lock
Due: pylint, check-python-credentials, check-makefile-commands, check-markdown-formatting

fix: align docker-compose configuration with PR description
  docker-compose.yml
Due: none

feat: add separate temporal-ui service and temporal database
  docker-compose.yml
Due: none

docs: update comments and README to reflect actual configuration
  README.md
  docker-compose.yml
Due: check-markdown-formatting

docs: fix PostgreSQL connection string format in README
  README.md
Due: check-markdown-formatting

docs: clarify docker compose starts infrastructure only, not API server
  README.md
Due: check-markdown-formatting

chore: add Docker local development environment (#16)
  README.md
  docker-compose.yml
Due: check-markdown-formatting

fix: address code review issues for database migration
  alembic/env.py
  app/database.py
  pyproject.toml
Due: pylint, check-python-credentials

fix: address additional code review feedback
  alembic/env.py
  app/database.py
Due: pylint, check-python-credentials

fix: address code review feedback
  alembic.ini
  alembic/env.py
  app/database.py
  app/main.py
Due: pylint, check-python-credentials

chore: add .gitkeep to preserve alembic/versions directory
  alembic/versions/.gitkeep
Due: none
